@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints:

Dispositivos móveis: até 576px;
Tablet em pé e Celular Deitado: até 768px;
Notebook e Desktop: 992px;
Desktop Grande: 1200px;
TV / Telas 4K: acima de 1400px;

*/

@media screen and (max-width: 768px) {

    body {
        background-image: url(../imagens/back-phone.jpg);
    }
    img#phone { display: block; }
    img#tablet { display: none; }
    img#note-pc { display: none}
    img#pcgrande { display: none; }
    img#tv { display: none; }
    img#print { display: none; } 
    }

@media screen and (min-width: 768px) { */ TABLET E CELULAR DEITADO */

    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    img#phone { display: none; }
    img#tablet { display: block; }
    img#note-pc { display: none}
    img#pcgrande { display: none; }
    img#tv { display: none; }
    img#print { display: none; }            
}

@media screen and (min-width: 992px) { */ DESKTOP E DESKTOP */

        body {
            background-image: url(../imagens/back-pc.jpg);
        }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#note-pc { display: block }
    img#pcgrande { display: none; }
    img#tv { display: none; }
    img#print { display: none; }
}

@media screen and (min-width: 1200px) { */ DECKTOP GRANDE */

    body {
        background-image: url(../imagens/back-pcgrande.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#note-pc { display: none }
    img#pcgrande { display: block; }
    img#tv { display: none; }  
    img#print { display: none; }
}

@media screen and (min-width: 1400px) { * / SMART TV E TELA WIDE SCREEN * /

    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    
    img#phone { display: none; }
    img#tablet { display: none; }
    img#note-pc { display: none }
    img#pcgrande { display: none; }
    img#tv { display: block; }
    img#print { display: none; }

}

@media print { */ IMPRESSORAS */

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#note-pc { display: none }
    img#pcgrande { display: none; }
    img#tv { display: none; }
    img#print { display: block; }
}